body{
    margin: 0;
    color: white;
    font-family: gilroy;
    background: #0B1D26;
    text-align: center;
}

a{ 
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
a:hover{
    color: #FBD784;
}

p{
    margin: 0
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: auto;
    margin-bottom: auto;
}
.all{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}
/* HEADER */

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 79.5px;
}

.logo{
    display: flex;
}
.logo p{
    flex-direction: row;
    font-family: angst;
    font-size: 32px;
}
.logo a{
    font-family: angst;
    font-size: 32px;
}
.logo a:hover{
    color: white;
}

.contentlogo{
    justify-content: space-between;
    align-items: center;
    display: flex;

    gap: 40px;
    font-size: 18px;
}
.iconcart{
    width: 24px;
    height: 24px;
}
.iconcart img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}


.challenge{
    font-family: angst;
    font-size: 52px;
    font-style: bold;
    margin-bottom: 25px;
}

article{
    width: 924px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.text{
    text-align: left;
    font-size: 26px;
    line-height: 50px;
}
label,
.text::first-line{
    font-size: 34px;
    color: #FBD784;
    font-weight: bold;
}

.hover{
    width: 540px;
    height: 689px;
    object-fit: fill;
    overflow: hidden;
    position: relative;
}
.hover:hover .image{ 
    filter: blur(5px);
    cursor: pointer;
}
.image{
    background-image: url(image.png);
    width: 540px;
    height: 689px;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
}
.hover:hover .icon{
    opacity: 1;
    cursor: pointer;
}
.button{
    width: 599px;
    height: 72px;
    background-color: #FBD784;
    color: #0B1D26;
    border-radius: 16px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    display: flex;
    margin-top: 49px;
    align-items: center;
    justify-content: center;
    transition: backgroung-color 0.3s ease, color 0.3s ease;
}

.button:hover{
    background-color: #fdd070;
    color: #ffffff;
}

.bsave{
    width: 279px;
    height: 72px;
    background-color: #FBD784;
    color: #0B1D26;
    border-radius: 16px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    display: flex;
    margin-top: 49px;
    align-items: center;
    justify-content: center;
    transition: backgroung-color 0.3s ease, color 0.3s ease;
}
.bsave:hover{
    background-color: #fdd070;
    color: #ffffff;
}
.bcancel{
    width: 279px;
    height: 72px;
    background-color: none;
    color: #D9D9D9;
    border-radius: 16px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D9D9D9;
    display: flex;
    margin-top: 49px;
    align-items: center;
    justify-content: center;
    transition: backgroung-color 0.3s ease, color 0.3s ease;
}
.bcancel:hover{
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #0B1D26;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 42px;
}


.lala{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
}

input{
    width: 238px;
    height: 24px;
    background-color: transparent;
    color: #D9D9D9;
    border-radius: 16px;
    font-size: 26px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    outline: none;
    font-family: gilroy;
}
::placeholder{
    color: white;
}
select{
    width: 600px;
    height: 64px;
    background-color: transparent;
    color: white;
    border-radius: 16px;
    font-size: 26px;
    cursor: pointer;
    border: 1px solid #D9D9D9;
    display: flex;
    padding: 0 20px;
    
    align-items: center;
    outline: none;
    font-family: gilroy;
    appearance: none;
    background: url(Polygon.svg) no-repeat;
    background-position: 550px center;

}
option{
    color: white;
}

/* FOOTER */

footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
} 
.equipment{
    display: flex;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
.footer_gradient{
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000C13 92.81%);
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
}
.menu{
    display: none;
}
.submenu{
    display: none;
}
@media screen and (min-width: 901px){
.section-tablet{
    display: none;
}
.section-mobile{
    display: none;
}
}

@media screen and (max-width: 900px) and (min-width: 600px){
    header{
        padding: 24px 32px;
    }
    section{
        display: none;
    }
    .section-mobile{
        display: none;
    }
    .section-tablet{
        margin-top: auto;
        margin-bottom: auto;
    }
    .tablet{
        width: fit-content;
        height: 350px;
        display: flex;
        padding: 0 52px;
        gap: 58px;
        align-items: center;
    }
    .image{
        background-image: url(photo.png);
        width: 350px;
        height: 350px;
    }
    .challenge{
        font-size: 52px;
        text-align: left;
    }
    article{
        width: fit-content;
        align-items: center;
        padding: 0 53px;
    }
    ::placeholder,.text{
        font-size: 20px;
    }
    label,.text::first-line{
        font-size: 24px;
    }
    .buttons{
        justify-content: space-between;
        gap: 0;
    }
    footer{
        padding: 0 120px;
    }




    .hover{
        width: 318px;
        height: 318px;
        border-radius: 800px;
        object-fit: fill;
    }
    .hover .image{
        background-image: none;
        width: 318px;
        height: 318px;
    }
    .bsave, .bcancel{
        width: 340px;
        height: 50px;
        font-size: 22px;
        
    }
    .buttons{
        gap: 42px;
    }
    input{
        font-size: 20px;
        width: 300px;
        height: 12px;
    }
    select{
        font-size: 20px;
        height: 50px;
        width: 716px;
        background-position: 660px center;
    }
}

@media screen and (max-width: 599px){
    .section-tablet{
        display: none;
    }
    section{
        display: none;
    }
    .section-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        padding: 0 32px;
    }
    .contentlogo{
        display: none;
    }
    .iconcart{
        display: none;
    }
    .image{
        background-image: url(photo.png);
        width: 212px;
        height: 212px;
        border-radius: 800px;

    }
    header{
        padding: 24px;
    }
    .logo p,a{
        font-size: 24px;
    }
    .challenge{
        width: 352px;
        font-size: 30px;
        line-height: 52px;
        margin: 0;
    }
    .text{
        font-size: 16px;
        line-height: 36px;
    }
    .text::first-line{
        font-size: 18px;
    }
    .button{
        font-size: 16px;
        width: 352px;
        height: 37px;
        border-radius: 8px;
        margin: 0;
    }
    article{
        width: fit-content;
    }
    footer{
        padding: 0 70px;
    }
    .equipment{
        font-size: 12px;
        line-height: 24px;
    }
    .view{
        display: flex;
        gap: 2px;
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: flex;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    .submenu {
        max-height: 0; 
        opacity: 0; 
        position: absolute;
        background-color: #3E5059;
        width: 200px;
        gap: 1px;
        flex-direction: column;
        right: 0;
        top: 60px;
        overflow: hidden; 
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; 
        visibility: hidden; 
    }
    
    #toggle:checked + .menu + .submenu {
        max-height: 200px; 
        opacity: 1; 
        visibility: visible; 
    }
    
    #toggle:not(:checked) + .menu + .submenu {
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        max-height: 0; 
        opacity: 0; 
        visibility: hidden; 
    }
    

    .line {
        width: 200px;
        height: 50px;
        background-color: #0B1D26;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line:hover,
    .line:active {
        color: #FBD784;
    }

}